In [1]:
# 문제 1

def root(n):
    return(n**(1/2))
print(root(16))

4.0

In [2]:
# 문제 2

def is_odd(n):
    if n%2 == 0:
        return False
    return True

n = int(input("정수를 입력하시오: "))
print(is_odd(n))

정수를 입력하시오: 73
True

In [3]:
# 문제 3

def get_sum(start, end):
    sum_value = 0
    for i in range(start, end+1):
        if i%2 == 0:
            sum_value = sum_value+i
    return sum_value

print(get_sum(1, 10))

30

In [4]:
# 문제 4
def calculate(x, y):
    a = x+y
    b = x-y
    c = x*y
    d = x/y
    return a,b,c,d

print(calculate(3,5))

(8, -2, 15, 0.6)

In [5]:
# 문제 5

def modify1(s):
    s += " To You"
    return s

msg = "Happy Birthday"
new_msg = modify1(msg)
print(new_msg)

Happy Birthday To You

In [6]:
# 문제 6

a = ["apple", "orange", "melon", "strawberry", "banana"]
a[1] = "lemon"
print(a)

['apple', 'lemon', 'melon', 'strawberry', 'banana']

In [7]:
# 문제 7
scores = []
highscore = 0
for i in range(4):
    score = int(input("성적을 입력하시오: "))
    scores.append(score)
    if score >= 80:
        highscore += 1
print("성적 리스트:",scores)
print("80점 이상 성적을 받은 학생은", highscore, "명입니다.")

성적을 입력하시오: 10
성적을 입력하시오: 20
성적을 입력하시오: 80
성적을 입력하시오: 60
성적 리스트: [10, 20, 80, 60]
80점 이상 성적을 받은 학생은 1 명입니다.

In [11]:
# 문제 8
squares = [36, 4, 16, 9, 25, 1]
squares.sort()
print(squares[1:5])

[4, 9, 16, 25]

In [9]:
# 문제 9

heroes = ["스파이더맨", "조커", "슈퍼맨", "헐크", "아이언맨", "배트맨", "조커"]
while "조커" in heroes:
    heroes.remove("조커")
print(heroes)

['스파이더맨', '슈퍼맨', '헐크', '아이언맨', '배트맨']

In [10]:
# 문제 10

rows = 8
cols = 9
table = [ ]

# 2차원 리스트를 생성한다. 
for row in range(rows): 
    table += [[0]*cols]

# 2차원 리스트의 각 요소에 rows와 cols 값을 더하여 저장한다. 
for row in range(rows): 
    for col in range(cols): 
        table[row][col] = (row+2)*(col+1) 

print(table)

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63], [8, 16, 24, 32, 40, 48, 56, 64, 72], [9, 18, 27, 36, 45, 54, 63, 72, 81]]